.menu {
    z-index: 1;
    width: 402px;
    background-color: #939597;
    text-align: center;
    position: relative;
    height: 42px;
    left: 50%;
    top: 0;
    margin-left: -201px;
}

.menu2 {
    z-index: 1; /*銝齿�鋡怠�嗡�硋��隞嗉�见�*/
    background-color: #939597;
    width: 402px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 0;
    margin-left: -201px;
}

.menu2_bar {
    z-index: 1; /*銝齿�鋡怠�嗡�硋��隞嗉�见�*/
    position: fixed;
    background-color: #939597;
    width: 100%;
    height: 42px;
    left: 0;
    top: 0;
}